<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/crear-productos.css">
  <title>Crear nuevo producto</title>
</head>
<body>

    <button class="boton-cancelar" onclick="location.href='index.ejs'">Cancelar</button>

  <h1>Crear nuevo producto</h1>

  <form action="/crear-producto" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>

    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" class="form-control" id="precio" name="precio" required>
    </div>

    <div class="form-group">
      <label for="categoria">Categoría</label>
      <select class="form-control" id="categoria" name="categoria">
        <option value="juegos">Juegos</option>
        <option value="consolas">Consolas</option>
        <option value="mandos">Mandos</option>
      </select>
    </div>

    <div class="form-group">
      <label for="foto">Foto</label>
      <input type="file" class="form-control-file" id="foto" name="foto">
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>

  </form>

  <script src="../../src/js/crear-productos.js"></script>

</body>
</html>